In [1]:
import pandas as pd
from langdetect import detect

In [2]:
tweets = pd.read_csv("twitter demonitization data.csv")
tweets.head(3)

,Unnamed: 0,Id,Text,User id
0,0,0,5 saal ka Rasan Paani Pichle ghotale Ke Karan\...,kumar_rajeev555
1,1,1,RT @dravirmani: #BION (Believe it or not; Humo...,docbhooshan
2,2,2,RT @dravirmani: #BION (Believe it or not; Humo...,RashmiRathi_

In [10]:

tweets.head(5)

   Id                                               Text          User id
0   0  5 saal ka Rasan Paani Pichle ghotale Ke Karan\...  kumar_rajeev555
1   1  RT @dravirmani: #BION (Believe it or not; Humo...      docbhooshan
2   2  RT @dravirmani: #BION (Believe it or not; Humo...     RashmiRathi_
3   3  RT @dravirmani: #BION (Believe it or not; Humo...           vcs_17
4   4  #BION (Believe it or not; Humour dont take too...       dravirmani